@charset "UTF-8";
:root {
  --min-height: 814px;
  --page-tail-size: 6.4rem;
  /* text */
  --text-page-title: #b6d0c9;
  --text-base: #131313;
  --text-primary: #006aff;
  --text-secondary: #00a6ff;
  --text-accent: #eb5f00;
  --text-nav-title: #fef8ca;
  --text-accent-lnb: #ffc600;
  --text-tip-title: #e4ddcf;
  --text-tip-text: #534731;
  /* 배경 */
  --bg-base: #e4ddcf;
  --bg-inner: #f6f1e9;
  --bg-tip-title: #534731;
  /* 배경 그라데이션 */
  --bg-gra-nav: linear-gradient(
    90deg,
    #0f3025 0%,
    #194335 38%,
    #0b221b 87.51%,
    #0d231c 100%
  );
  --bg-gra-tail: linear-gradient(180deg, #0f5a44 0%, #0f3227 86.31%);
  --bg-gra-depth01: linear-gradient(
      122deg,
      rgba(27, 76, 61, 0.4) 7.61%,
      rgba(18, 60, 47, 0) 16.66%
    ),
    linear-gradient(180deg, #123328 0%, rgba(18, 51, 40, 0) 100%);
  /* border */
  --border-gra-tail: linear-gradient(180deg, #209f79 0%, transparent 100%);
  --border-gra-depth01: linear-gradient(179deg, #196d54 0%, transparent 8%);
  --border-accent: #eb5f00;
  /* stroke */
  --text-stroke: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* SHADOW */
  --bg-shadow: drop-shadow(0 -8px 15px rgba(0, 0, 0, 0.05));
  --text-shadow: drop-shadow(0 0 0.5px #000);
  --btn-shadow: drop-shadow(0 2px 2px #000000aa)
    drop-shadow(0 -1px 1px #000000aa);
  --depth01-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.25);
  /* mask content */
  --mask-contents: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  /* gradient */
  --gra-tail-bg: linear-gradient(180deg, #0f5a44 0%, #0f3227 86.31%);
}

html {
  scroll-behavior: smooth;
}
html.is-locked body {
  height: calc(var(--window-inner-height) - 1px);
  overflow: hidden;
  box-sizing: border-box;
}
html.is-locked #wrap {
  position: fixed;
}
html body {
  margin: 0;
  padding: 0;
}

/* common */
.wrap {
  position: relative;
  width: 100%;
  height: var(--window-inner-height);
  display: grid;
  grid-template-columns: 250px auto;
  background: #e4ddcf;
  overflow: hidden;
}

.inner {
  max-width: 1380px;
  margin: 0 auto;
}

.header {
  /*
  position: absolute;
  top: 0;
  left: 0;
  */
  width: 100%;
  padding: 30px 0 25px 16px;
  background: var(--bg-gra-nav);
  z-index: 2;
}
.header h1 {
  color: var(--text-page-title);
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-shadow: var(--text-stroke);
  filter: var(--text-shadow);
}

.nav {
  /*
  position: absolute;
  top: 0;
  left: 0;
   padding-top: 80px;*/
  width: 100%;
  padding-bottom: 30px;
  overflow-x: hidden;
  overflow-y: overlay;
}
.nav-wrap {
  position: relative;
  min-width: 250px;
  height: 100vh;
  background: var(--bg-gra-nav);
  flex-direction: column;
  display: flex;
}
.nav-wrap .group-tit {
  position: relative;
  display: flex;
  width: max-content;
  height: 42px;
  padding-left: 16px;
  border-radius: 8px 0 0 0;
  filter: drop-shadow(2px 0 1px rgba(0, 0, 0, 0.25));
}
.nav-wrap .group-tit::before {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  background: var(--border-gra-tail);
  z-index: 1;
  inset: 0;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  border-radius: inherit;
  padding: 1px;
}
.nav-wrap .group-tit h2 {
  height: 32px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-nav-title);
  line-height: 31px;
  text-shadow: var(--text-stroke);
  filter: var(--text-shadow);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-wrap .group-tit .tail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 0;
  background: var(--bg-gra-tail);
}
.nav-wrap .group-tit .tail::before, .nav-wrap .group-tit .tail::after {
  content: " ";
  position: absolute;
  height: 32px;
  aspect-ratio: 1.2/1;
  mask-image: url("data:image/svg+xml,%3Csvg width='101' height='101' viewBox='0 0 101 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.485352 100.612H100.485C80.635 96.0403 66.2671 70.7778 52.6245 46.7908C39.1382 23.0781 26.3606 0.611816 9.6958 0.611816H0.485352V100.612Z' fill='black'/%3E%3C/svg%3E%0A");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center left;
  z-index: 1;
}
.nav-wrap .group-tit .tail::before {
  top: 0;
  left: 100%;
  height: 100%;
  background: var(--border-gra-tail);
}
.nav-wrap .group-tit .tail::after {
  left: calc(100% - 1px);
  top: 1px;
  height: calc(100% - 1px);
  background: inherit;
}
.nav-group {
  padding-left: 16px;
}
.nav-group:not(:first-child) {
  margin-top: 25px;
}
.nav-group:has(.depth02 .active) .group-tit h2 {
  color: var(--text-accent-lnb);
}
.nav-group:has(.depth02 .active) .group-tit .ico-grimmy {
  background-image: url(../images/ico/ico_grimmy_on.svg);
}
.nav-group:has(.depth02 .active) .group-tit .ico-ggurumi {
  background-image: url(../images/ico/ico_ggurumi_on.svg);
}
.nav-group .ico-ggurumi, .nav-group .ico-grimmy {
  display: inline-block;
  width: 14px;
  aspect-ratio: 1;
  margin-right: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.nav-group .ico-grimmy {
  background-image: url(../images/ico/ico_grimmy.svg);
}
.nav-group .ico-ggurumi {
  background-image: url(../images/ico/ico_ggurumi.svg);
}
.nav-group a {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding-left: 8px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 500;
  text-shadow: var(--text-stroke);
  filter: var(--text-shadow);
}
.nav-group .depth01 {
  position: relative;
  margin-top: -10px;
  border-radius: 8px 0 0 0;
  z-index: 1;
  padding: 8px 0 0 8px;
}
.nav-group .depth01::before {
  background: var(--bg-gra-depth01);
  box-shadow: var(--depth01-shadow);
}
.nav-group .depth01::after {
  background: var(--border-gra-depth01);
  inset: 0;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  border-radius: inherit;
  padding: 1px;
}
.nav-group .depth01::before, .nav-group .depth01::after {
  position: absolute;
  content: "";
  top: -8px;
  left: 0px;
  width: calc(100% + 16px);
  height: 58px;
  border-radius: inherit;
  inset: 0;
  padding: 1px 0 0 1px;
  z-index: -1;
}
.nav-group .depth01 > li {
  position: relative;
  color: #fff;
  z-index: 1;
  border-radius: 4px 0 0 4px;
  transition: all 0.3s ease-out;
}
.nav-group .depth01 > li.active {
  margin-bottom: 8px;
}
.nav-group .depth01 > li.active:not(:has(.single)) {
  padding: 8px 0 8px 8px;
  background: #031e15;
}
.nav-group .depth01 > li.active:not(:has(.single)):hover {
  background: rgba(3, 30, 21, 0.5);
}
.nav-group .depth01 > li.active:not(:has(.single))::before, .nav-group .depth01 > li.active:not(:has(.single))::after {
  content: " ";
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.nav-group .depth01 > li.active:not(:has(.single))::before {
  left: 0px;
  top: 0px;
  border: 3px solid #000;
  border-right: none;
  pointer-events: none;
}
.nav-group .depth01 > li.active:not(:has(.single))::after {
  width: calc(100% + 1px);
  padding: 1px;
  background: linear-gradient(90deg, #2d7760 0%, #70e0be 16%, #134a39 56%);
  border-radius: 4px 0 0 4px;
}
.nav-group .depth01 > li.active > a:hover {
  background: rgba(3, 30, 21, 0.5);
}
.nav-group .depth01 > li:has(.active) > a {
  color: var(--text-accent-lnb);
}
.nav-group .depth01 > li:has(.active) .ico-arrow {
  background-image: url(../images/ico/ico_arrow_dn_on.svg);
}
.nav-group .depth01 > li:not(:has(.single)) {
  padding-left: 8px;
}
.nav-group .depth01 > li::after {
  content: " ";
  position: absolute;
  inset: 0;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  border-radius: inherit;
  padding: 1px;
}
.nav-group .depth01 > li .ico-arrow {
  position: relative;
  width: 14px;
  height: 14px;
  cursor: pointer;
  display: inline-block;
  background-image: url(../images/ico/ico_arrow_dn.svg);
}
.nav-group .depth01 li:not(:has(.single)) > a:hover {
  background: rgba(3, 30, 21, 0.5);
}
.nav-group ul:not(.depth01) {
  position: relative;
  padding-left: 30px;
}
.nav-group ul:not(.depth01):not(.single)::before {
  content: " ";
  position: absolute;
  left: 14px;
  top: -6px;
  display: block;
  width: 1px;
  height: calc(100% - 14px);
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-group ul:not(.depth01):not(.single) li::before {
  content: " ";
  position: absolute;
  left: -16px;
  top: 20px;
  display: block;
  width: 16px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-group ul:not(.depth01) li {
  position: relative;
  z-index: 1;
}
.nav-group ul:not(.depth01) li.active > a {
  position: relative;
  font-weight: bold;
  color: #000;
  border-radius: 4px 0 0 4px;
  text-shadow: none;
  filter: none;
  background: linear-gradient(0deg, rgba(236, 227, 210, 0.5) 0%, rgba(236, 227, 210, 0.5) 100%), #fff;
}
.nav-group ul:not(.depth01) li.active > a:hover {
  background: linear-gradient(0deg, rgba(236, 227, 210, 0.5) 0%, rgba(236, 227, 210, 0.5) 100%), #fff;
}
.nav-group ul:not(.depth01) li.active > a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  inset: 0;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  border-radius: inherit;
  padding: 1px;
}
.nav-group ul:not(.depth01) li.active > a::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #a67d03 0%, #ffe873 40%, rgba(242, 204, 15, 0) 100%);
  width: 100%;
  inset: 0;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  border-radius: inherit;
  padding: 1px;
}

.container {
  position: relative;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}
.container section {
  position: relative;
  min-width: 1450px;
  min-height: var(--min-height);
  width: 100%;
  height: var(--window-inner-height);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container section:has(.tip-box) .contents {
  min-height: calc(var(--min-height) - 12.4rem);
}

.page-tit-wrap {
  max-height: 12.4rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-tit-wrap:has(.tip-box) .tit-box {
  position: relative;
  height: max-content;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
}
.page-tit-wrap:has(.tip-box) .tit-box h3 {
  position: relative;
  height: 6.4rem;
  padding: 0 16px;
  padding-top: 0.4rem;
  background: linear-gradient(180deg, #f1ede6 0%, #e7e1d5 100%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-tit-wrap:has(.tip-box) .tit-box h3::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  inset: 0;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  border-radius: inherit;
  padding: 1px;
  padding: 0 0 1px 0;
}
.page-tit-wrap:has(.tip-box) .tit-box .page-tail {
  width: 6.4rem;
  height: 6.4rem;
  position: relative;
}
.page-tit-wrap:has(.tip-box) .tit-box .page-tail:last-child {
  transform: scaleX(-1);
}
.page-tit-wrap:has(.tip-box) .tit-box .page-tail::before, .page-tit-wrap:has(.tip-box) .tit-box .page-tail::after {
  position: absolute;
  top: 0;
  mask-image: url(../images/mask_page_tail.svg);
  mask-repeat: no-repeat;
  mask-position: left center;
  mask-size: cover;
}
.page-tit-wrap:has(.tip-box) .tit-box .page-tail::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgb(255, 255, 255) 100%);
}
.page-tit-wrap:has(.tip-box) .tit-box .page-tail::after {
  content: "";
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  right: 0;
  background: linear-gradient(180deg, #f1ede6 0%, #e7e1d5 100%);
}

.tit-box {
  position: relative;
  font-size: 2.4rem;
  height: 7rem;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tit-box span {
  color: var(--text-accent);
}

.tip-box {
  padding: 18px 0;
  gap: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tip-box .tip-tit {
  padding: 4px 14px;
  background-color: var(--bg-tip-title);
  border-radius: 25px;
  font-size: 1.2rem;
  color: var(--text-tip-title);
  font-weight: 700;
}
.tip-box dl {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tip-box dl dt {
  padding: 2px 10px;
  background-color: var(--bg-tip-title);
  border-radius: 25px;
  font-size: 1rem;
  color: var(--text-tip-title);
  font-weight: 700;
}
.tip-box dl dd {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-tip-text);
}
.tip-box dl dd img {
  width: 24px;
}

.contents {
  position: relative;
  width: 100%;
  flex-grow: 1;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #f6f1e9;
  filter: drop-shadow(0 -8px 15px rgba(0, 0, 0, 0.05));
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents .inner {
  position: relative;
  width: calc(100% - 100px);
  max-width: 100%;
}
.contents .bg-img {
  width: 100%;
  height: auto;
  max-width: auto;
  max-height: 100%;
  object-fit: contain;
}
.contents .ex-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0;
}
.contents .ex-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contents [class^=link] {
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  height: 2.7027027027%;
  transition: all 0.2s linear;
}
.contents [class^=link]:hover {
  background: rgba(0, 76, 240, 0.2);
}

.description li {
  position: absolute;
  flex-direction: column;
  height: 0;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description li.revers {
  flex-direction: column-reverse;
}
.description li h6 {
  height: 2.4rem;
  padding: 0 8px;
  background-color: #fff;
  border-radius: 2px;
  font-size: 1.4rem;
  color: var(--text-accent);
  border: 1.5px solid var(--border-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.description li p {
  font-size: 1.4rem;
}

.interface01 .link-homemenu {
  width: 4.251497006%;
  top: 3.2657657658%;
  left: 5.8682634731%;
}
.interface01 .link-filetab {
  width: 8.9820359281%;
  height: 5.1801801802%;
  top: 48.8738738739%;
  left: 1.2305389222%;
}
.interface01 .link-layer {
  width: 5.9281437126%;
  top: 48.8738738739%;
  left: 21.9161676647%;
}
.interface01 .link-color {
  width: 5.1497005988%;
  top: 44.481981982%;
  left: 31.0778443114%;
}
.interface01 .link-line {
  width: 6.6467065868%;
  top: 46.7342342342%;
  left: 43.4730538922%;
}
.interface01 .link-text {
  width: 7.4251497006%;
  top: 40.3153153153%;
  right: 36.3832335329%;
}
.interface01 .link-msmt {
  width: 7.4251497006%;
  top: 40.3153153153%;
  right: 28.2634730539%;
}
.interface01 .link-propsbar {
  width: 4.7904191617%;
  top: 7.6576576577%;
  right: 21.0778443114%;
}
.interface01 .link-mainprops {
  width: 4.251497006%;
  top: 13.963963964%;
  right: 8.7425149701%;
}
.interface01 .link-print {
  width: 3.4730538922%;
  top: 29.4166666667%;
  right: 22.6347305389%;
}
.interface01 .link-ggurumi {
  width: 4.251497006%;
  top: 29.4166666667%;
  right: 18.0239520958%;
}
.interface01 .link-mainprf {
  width: 8.2035928144%;
  top: 76.3513513514%;
  left: 4.8556886228%;
}
.interface01 .link-setbar {
  width: 8.2035928144%;
  top: 86.1486486486%;
  left: 5.8083832335%;
}
.interface01 .link-cmdbar {
  width: 7.4251497006%;
  top: 86.1486486486%;
  right: 44.251497006%;
}
.interface01 .link-cmdall {
  width: 7.6047904192%;
  top: 83.3333333333%;
  right: 6.2275449102%;
}
.interface01 .link-layouttab {
  width: 7.245508982%;
  height: 5.1801801802%;
  top: 70.7207207207%;
  right: 2.3952095808%;
}

.interface02 .link-systm {
  width: 6.6467065868%;
  top: 28.4448198198%;
  left: 4.5628742515%;
}

.customize01 .link-prfall {
  width: 10.5988023952%;
  top: 87.8254504505%;
  left: 5.5688622754%;
}
.customize01 .link-cmdall {
  width: 7.4251497006%;
  top: 87.8254504505%;
  right: 5.3592814371%;
}

.customize02 .description li:nth-child(1) {
  left: 16.1676646707%;
  top: 15.5405405405%;
}
.customize02 .link-prfall {
  width: 4.9700598802%;
  top: 34.009009009%;
  right: 3.9520958084%;
}
.customize02 .link-cmdall {
  width: 5.9281437126%;
  top: 68.0867117117%;
  right: 3.6526946108%;
}
.customize02 .link-cven {
  width: 5.2694610778%;
  top: 68.0867117117%;
  right: 3.6526946108%;
}
.customize02 .link-struc {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}
.customize02 .link-shortcut {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}

.customize03 .link-grid {
  width: 4.371257485%;
  top: 4.880952381%;
  left: 25.1497005988%;
}
.customize03 .link-grip {
  width: 6.9461077844%;
  top: 4.880952381%;
  left: 39.4311377246%;
}
.customize03 .link-ortho {
  width: 5.2694610778%;
  top: 4.7619047619%;
  right: 16.2275449102%;
}
.customize03 .link-iso {
  width: 8.622754491%;
  top: 56.9904761905%;
  left: 6.5269461078%;
}
.customize03 .link-overlap {
  width: 9.2215568862%;
  top: 83.9547619048%;
  left: 38.1437125749%;
}
.customize03 .link-osnap {
  width: 5.2694610778%;
  top: 83.9547619048%;
  left: 52.8443113772%;
}
.customize03 .link-dynamic {
  width: 5.2694610778%;
  top: 87.2619047619%;
  right: 30.1347305389%;
}
.customize03 .link-angle {
  width: 6.0479041916%;
  top: 48.6571428571%;
  right: 12.6347305389%;
}
.customize03 .link-efct {
  width: 6.9461077844%;
  top: 68.5380952381%;
  right: 11.7365269461%;
}
.customize03 .link-systm {
  width: 8.3233532934%;
  top: 30.472972973%;
  right: 2.3952095808%;
}
.customize03 .link-cmdall {
  width: 5.9281437126%;
  top: 47.8502252252%;
  right: 4.7904191617%;
}
.customize03 .link-cven {
  width: 5.2694610778%;
  top: 68.0867117117%;
  right: 3.6526946108%;
}
.customize03 .link-struc {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}
.customize03 .link-shortcut {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}

.multi01 .link-props {
  width: 9.2814371257%;
  top: 24.4047619048%;
  right: 16.9461077844%;
}

.command01 .link-systm {
  width: 8.3233532934%;
  top: 30.472972973%;
  right: 2.3952095808%;
}
.command01 .link-cmdall {
  width: 5.9281437126%;
  top: 47.8502252252%;
  right: 4.7904191617%;
}
.command01 .link-cven {
  width: 5.2694610778%;
  top: 68.0867117117%;
  right: 3.6526946108%;
}
.command01 .link-struc {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}
.command01 .link-shortcut {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}

.command02 .link-systm {
  width: 8.3233532934%;
  top: 30.472972973%;
  right: 2.3952095808%;
}
.command02 .link-prfall {
  width: 5.2694610778%;
  top: 68.0867117117%;
  right: 3.6526946108%;
}
.command02 .link-cmdall {
  width: 5.9281437126%;
  top: 47.8502252252%;
  right: 4.7904191617%;
}
.command02 .link-struc {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}
.command02 .link-shortcut {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}

.command03 .link-systm {
  width: 8.3233532934%;
  top: 30.472972973%;
  right: 2.3952095808%;
}
.command03 .link-prfall {
  width: 5.2694610778%;
  top: 68.0867117117%;
  right: 3.6526946108%;
}
.command03 .link-cmdall {
  width: 5.9281437126%;
  top: 47.8502252252%;
  right: 4.7904191617%;
}
.command03 .link-cven {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}
.command03 .link-shortcut {
  width: 5.2694610778%;
  top: 76.8355855856%;
  right: 3.6526946108%;
}

.block01 .link-block {
  width: 3.4730538922%;
  top: 12.8571428571%;
  right: 67.4850299401%;
}
.block01 .link-atrbBlock {
  width: 4.9700598802%;
  top: 50.8333333333%;
  right: 67.4850299401%;
}
.block01 .link-ref {
  width: 4.9700598802%;
  top: 71.7857142857%;
  right: 67.4850299401%;
}

.block05 .link-block {
  width: 9.1616766467%;
  top: 25.119047619%;
  right: 20.194011976%;
}

.floorPlan01 .link-multi-print {
  width: 4.9700598802%;
  top: 14.7522522523%;
  right: 11.7964071856%;
}
.floorPlan01 .link-atrb-block {
  width: 6.4670658683%;
  top: 24.2117117117%;
  right: 10.2994011976%;
}

.floorPlan02 .link-select {
  width: 8.0239520958%;
  top: 30.4054054054%;
  right: 63.8922155689%;
}